@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
svg.spinner {
    animation: spin 3s linear infinite;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn ease-in-out 400ms;
  -webkit-animation: fadeIn ease-in-out 400ms;
  -moz-animation: fadeIn ease-in-out 400ms;
  -o-animation: fadeIn ease-in-out 400ms;
  -ms-animation: fadeIn ease-in-out 400ms;
}