@tailwind components;

@layer components {
    /* HEADLINE */
  .headline-small,
  .headline-large {
    @apply font-basier font-semibold;
  }
  .headline-small {
    font-size: 16px;
    line-height: 20px;
  }
  .headline-large {
    font-size: 22px;
    line-height: 28px;
  }

  /* BODY */
  .body-small,
  .body-small-plus,
  .body-regular,
  .body-regular-plus {
    @apply font-basier;
  }
  .body-small,
  .body-regular {
    @apply font-normal;
  }
  .body-small-plus,
  .body-regular-plus {
    @apply font-semibold;
  }
  .body-small,
  .body-small-plus {
    font-size: 12px;
    line-height: 16px;
  }
  .body-regular,
  .body-regular-plus {
    font-size: 14px;
    line-height: 20px;
  }

  /* LABEL */
  .label-mini,
  .label-mini-plus,
  .label-small,
  .label-small-plus {
    @apply font-basier uppercase;
  }
  .label-mini,
  .label-small {
    @apply font-normal;
  }
  .label-mini-plus,
  .label-small-plus {
    @apply font-semibold;
  }
  .label-mini-plus,
  .label-mini {
    font-size: 11px;
    line-height: 16px;
  }
  .label-small-plus,
  .label-small {
    font-size: 12px;
    line-height: 16px;
  }

  /* MONO */
  .mono-mini,
  .mono-small,
  .mono-small-plus,
  .mono-regular,
  .mono-regular-plus {
    @apply font-basierMono;
  }
  .mono-mini,
  .mono-small,
  .mono-regular {
    @apply font-normal;
  }
  .mono-small-plus,
  .mono-regular-plus {
    @apply font-semibold;
  }
  .mono-mini {
    font-size: 11px;
    line-height: 12px;
  }
  .mono-small,
  .mono-small-plus {
    font-size: 12px;
    line-height: 16px;
  }
  .mono-regular,
  .mono-regular-plus {
    font-size: 14px;
    line-height: 20px;
  }
}
